@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTLight.otf"); }

@font-face {
  font-family: "Futura bold";
  src: url("../fonts/FuturaPTBold.otf"); }

.nav-item {
  width: 100vw; }
  .nav-item .work {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 1165px;
    top: 10px; }
  .nav-item .about {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 1235px;
    top: 10px; }
  .nav-item .news {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 1305px;
    top: 10px; }
  .nav-item .shop {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 1370px;
    top: 10px; }
  .nav-item .contact {
    position: absolute;
    width: 90px;
    height: 30px;
    left: 1430px;
    top: 10px; }

footer {
  background-color: white;
  color: black;
  display: flex;
  align-self: flex-end;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center; }

.titulo__footer {
  font-size: 14px; }

@media (max-width: 768px) {
  .titulo__footer {
    font-size: 13px; } }

.fb-btn {
  background-color: #3a5795; }

.insta-btn {
  background-color: #990088; }

.tw-btn {
  background-color: #55acee; }

.bh-btn {
  background-color: #000; }

/* index */
main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF; }

section h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "futura bold"; }

.no-parallax {
  background-color: #000;
  z-index: 999;
  display: flex;
  gap: 100px; }

.parallax h1 {
  width: 60%;
  font-size: 2rem; }

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1; }

.bg::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pink foodies.jpg");
  background-size: cover; }

section .no-parallax img {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

section .btn {
  color: #FFF;
  font-family: "futura bold";
  font-size: 80px; }

@media screen and (min-width: 768px) {
  section h1 {
    font-size: 8rem; }
  .parallax h1 {
    font-size: 4rem; } }

@media (max-width: 768px) {
  section img {
    width: 80px;
    height: 80px; } }
