footer{
    background-color: white;
    color: black;
    display: flex;
    align-self: flex-end;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.titulo__footer{
    font-size: 14px;
}

@media(max-width:768px) {
    .titulo__footer{
        font-size: 13px;
    
    }
}

$redes:(fb:#3a5795,insta:#990088,tw:#55acee,bh:#000);



@each $red, $color in $redes {
    .#{$red}-btn {
        background-color: $color;
    }
 }