.nav-item{
    width: 100vw;
    .work{
        position: absolute;
        width: 90px;
        height: 30px;
        left: 1165px;
        top: 10px;
    }
    .about{
        position: absolute;
        width: 90px;
        height: 30px;
        left: 1235px;
        top: 10px;
    }
    .news{
        position: absolute;
        width: 90px;
        height: 30px;
        left: 1305px;
        top: 10px;
    }
    .shop{
        position: absolute;
        width: 90px;
        height: 30px;
        left: 1370px;
        top: 10px;
    }
    .contact{
        position: absolute;
        width: 90px;
        height: 30px;
        left: 1430px;
        top: 10px;
    }
}